{
	"useTabs": true,
	"trailingComma": "all",
	"printWidth": 100,
	"bracketSpacing": true,

	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
