/**
* We used Tailwind for the default UI, but you don't have to.
* You can clear the contents of this file and write your own global styles.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.wrap-pretty,
	p,
	li {
		text-wrap: pretty;
	}

	.wrap-balance,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}
}
