/* global styles */

body {
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	font-size: calc(1rem * calc(calc(1 / 3) * 2));
	line-height: 1.5;
}
